<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://managemychild.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>managemychild.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>managemychild</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$managemychild</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:managemychild.database.windows.net,1433;Initial Catalog=managemychild;User ID=cfranklin@managemychild.database.windows.net;Password=Rbkmonster1" Name="Data Source=tcp:managemychild.database.windows.net,1433;Initial Catalog=managemychild;User Id=cfranklin@managemychild.database.windows.net;Password=Rbkmonster1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ManageMyChild.Models.ApplicationDbContext, ManageMyChild" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ManageMyChildEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:managemychild.database.windows.net,1433;Initial Catalog=managemychild;User ID=cfranklin@managemychild.database.windows.net;Password=Rbkmonster1" Name="Data Source=tcp:managemychild.database.windows.net,1433;Initial Catalog=managemychild;User Id=cfranklin@managemychild.database.windows.net;Password=Rbkmonster1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ManageMyChild.Models.ManageMyChildModel, ManageMyChild" MigrationConfiguration="ManageMyChild.Migrations.Configuration, ManageMyChild" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:managemychild.database.windows.net,1433;Initial Catalog=managemychild;User Id=cfranklin@managemychild.database.windows.net;Password=Rbkmonster1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ManageMyChildEntities-Web.config Connection String">
      <ParameterValue>Data Source=tcp:managemychild.database.windows.net,1433;Initial Catalog=managemychild;User Id=cfranklin@managemychild.database.windows.net;Password=Rbkmonster1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>